<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\lucasl\source\repos\Currency Converter\Currency Converter\Database\Currency_Converter.mdf;Integrated Security=True" />
	</connectionStrings>
</configuration>